services:
  db:
    image: postgres:18.1-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydatabase
    volumes:
      - db_data:/var/lib/postgresql
    networks:
      - backend
    ports:
      - "5432:5432"
    restart: unless-stopped

volumes:
  db_data:

networks:
  backend:
