name: Application Assemble

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_application:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up GraalVM JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'graalvm'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Compile Application (assemble)
        run: ./gradlew assemble
